node_modules/
package-lock.json

.strapi/
dist/
build/
.cache/
.tmp/

.env
.env.example

public/uploads/*
!.gitkeep
.tmp/

*.log
.strapi-updater.json
.DS_Store
Thumbs.db

.git/
.gitignore
.github/
README.md